<div *ngIf="recipe">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header">
                    <h2>{{recipe.name | uppercase}} Details</h2>
                </div>

                <div class="card-body">
                    <div>
                        <div>
                            <h4>Type: </h4>
                          <p>{{recipe.type}}</p>
                        </div>
                        <div>
                            <h4>Author: </h4>{{recipe.author | uppercase}}
                        </div>
                        <div>
                            <h4>Ingredients: </h4>{{recipe.ingredients}}
                        </div>
                        <div>
                            <h4>Steps: </h4>{{recipe.steps}}
                        </div>
                        <div>
                            <h4>Picture: </h4>
                            <img [src]="thumbnail" alt="" /> <!-- TODO add sizing and if no picture -->
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div style="text-align:left;">
                        <button type="submit" class="btn btn-primary" (click)="goBack()">Back</button>
                        <div style="float:right;">
                            <span>Created at: </span>{{recipe.createdAt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
