<div class="row m-3">
    <div class="col-md-4">
        <h2>Starforks recipes</h2>
    </div>
    <div class="col-sm-4">
        <form class="form-inline">
            <input class="form-control mr-sm-2" (keyup)="onSearchTypingFinished()" type="text" placeholder="Search"
                aria-label="Search" [(ngModel)]="searchWords" name="searchInput">
        </form>
    </div>
</div>
<div class="row mx-3" *ngIf="!loading">
    <div *ngIf="recipes.length === 0">
        <h5 style="display: flex; justify-content: center; align-items: center; text-align: center;">
            No recipes found!</h5>
    </div>
    <div class="col-md-3" *ngFor="let recipe of recipes">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    Type: {{recipe.type}}</p>
                <img class="card-img-top" [src]=recipe.picture alt="" />
                <p class="card-text">
                    Type: {{recipe.type}} </p>
                <a routerLink="/detail/{{recipe.id}}" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>
<div class="row m-3">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="total" [(page)]="page" [pageSize]="pageSize"
        [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
</div>