<h2>My recipes:</h2>
<div class="row">
    <div class="col-sm-3" *ngFor="let recipe of recipes">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    Type: {{recipe.type}} </p>
                <a routerLink="/detail/{{recipe.id}}" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>